body {
  width: 100%;
  height: 100vh;
  background-color: var(--pimray-background-color);
  font-family: var(--regular-font-family);
}

.statistic-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sizing-medium);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--sizing-small);
}

label {
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);
  padding: var(--sizing-x-small);
}

.team label,
.players label {
  padding: 0 var(--sizing-x-small);
}
