footer {
  font-family: var(--regular-font-family);
  color: var(--third-color);
  border-top: 2px solid var(--third-color);
  padding: var(--sizing-medium);
}

.section-wraper {
  display: flex;
  justify-content: center;
  gap: var(--sizing-x-large);
}

.handball-association,
.postaddress {
  line-height: 2;
}

.handball-association a {
  color: var(--third-color);
}

.postaddress a {
  color: var(--third-color);
  display: block;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.copyright {
  text-align: center;
  padding: var(--sizing-medium) var(--sizing-x-large);
  color: var(--third-color);
}

/* media queries, ajusting for smaller screens. goin from desktop first. */
@media screen and (max-width: 960px) {
  .section-wraper {
    gap: var(--sizing-medium);
  }

  .handball-association {
    padding-left: 1rem;
  }

  .postaddress {
    padding-left: 1rem;
  }
  .social-media {
    padding-left: 1rem;
  }

  .copyright {
    padding: var(--sizing-medium) 0;
  }
}

@media screen and (max-width: 744px) {
  .section-wraper {
    gap: var(--sizing-medium);
  }

  .handball-association {
    padding-left: 1rem;
  }

  .postaddress {
    padding-left: 1rem;
  }
  .social-media {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 728px) {
  .section-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sizing-medium);
  }

  .handball-association {
    padding-left: 0;
  }

  .postaddress {
    padding-left: 0;
    padding-right: 8.5rem;
  }

  .social-media {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--sizing-x-large);
  }
}

@media screen and (max-width: 441px) {
  footer {
    padding: var(--sizing-medium) var(--sizing-x-small);
  }
  .postaddress {
    padding-right: 8rem;
  }
  .social-media {
    gap: var(--sizing-medium);
  }
}
