header {
    border-bottom: 1px solid var(--secondary-background-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sizing-medium);

    font-family: var(--regular-font-family);
    color: var(--third-color);
}

.header__logo-searchbar {
    padding-top: var(--sizing-medium);
    display: flex;
    align-items: center;
    gap: 18rem;
}

.header__navbar-small-screen{
    display: none;
}

.header__searchbar {
    padding: var(--sizing-x-small) var(--sizing-x-large);
    background-color: var(--pimray-background-color);
    border: none;
    border-bottom: 2px solid red;
}

input::placeholder{
    font-family: var(--light-font-family);
    font-size: 1.1rem;
    color: var(--third-color);
}

.header__searchbar:focus{
    all: unset;
    border-bottom: 2px solid red;
    padding: var(--sizing-x-small) var(--sizing-x-large);
}

.header__search-icon{
    border: none;
    background-color: var(--pimray-background-color);
}

.header__search-icon:hover{
    cursor: pointer;
}

.header__search-icon img {
    margin-bottom: -6px;
}

h1 {
    text-align: center;
}

.header__nav-list {
    display: flex;
    gap: var(--sizing-large);

   list-style: none;
   padding: var(--sizing-medium);
   
}

.header__nav-list a{
    text-decoration: none;
    color: var(--third-color);
}

.header__nav-list a:hover{
    font-family: var(--bold-font-family);
    border-top: 2px solid  red;
}


@media screen and (max-width: 960px){

    .header__logo-searchbar {
        gap: 28rem;
}

    .header__navbar-small-screen {

        display: block;
}

    .header__searchbar-container {
        display: none;
}

    .header__nav-list {
        display: none;
}
}

@media screen and (max-width: 700px) {
    .header__logo-searchbar {
        gap: 16rem;
} 
}

@media screen and (max-width:500px) {
    .header__logo-searchbar {
        gap: 10rem;
} 
}

@media screen and (max-width: 390px) {
    .header__logo-searchbar {
        gap: 4rem;
}
}