header {
  width: 100%;
  height: auto;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: var(--sizing-small);
  padding: var(--sizing-medium) var(--sizing-large);
}

.navbar__icon-search-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  padding: var(--sizing-small) var(--sizing-medium);
}

.navbar__search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navbar__search-icon-btn {
  border: none;
  background-color: transparent;
}

.navbar__searchbar {
  width: 200px;
  height: var(--sizing-medium);
  border: none;
  background-color: transparent;
}

.navbar__searchbar:focus {
  all: unset;
  width: 200px;
  height: var(--sizing-medium);
  border-bottom: 2px solid var(--secondary-background-color);
}

.navbar__menu-container {
  display: none;
}

.navbar__menu-btn {
  border: none;
  background-color: transparent;
}

.navbar__title {
  text-align: center;
  color: var(--third-color);
  font-size: var(--font-size-xlarge);
  padding: var(--sizing-medium);
}

.navbar__list {
  list-style: none;
  padding: var(--sizing-small) 0;
  display: flex;
  justify-content: center;
  gap: var(--sizing-medium);
}

.navbar__litst-item {
  height: 19px;
}

.navbar__list-searchbar {
  display: none;
}

.navbar__list-link {
  color: var(--third-color);
  text-decoration: none;
  font-size: var(--font-size-small) 0;
}

.navbar__list-link:hover {
  border-bottom: 1px solid var(--third-color);
}

/* media query for smaller screens. ajusted to from desktop-first. */

@media screen and (max-width: 898px) {
  .navbar {
    border-bottom: 1px solid var(--secondary-background-color);
  }
  .navbar__menu-container {
    display: block;
    padding: var(--sizing-small) var(--sizing-medium);
  }

  .navbar__search-container {
    display: none;
  }

  .navbar__list {
    display: none;
  }
}

@media screen and (max-width: 792px) {
  .navbar {
    padding: var(--sizing-medium) var(--sizing-medium);
  }
  .navbar__logo {
    padding: var(--sizing-small) 0;
  }

  .navbar__menu-container {
    display: block;
    padding: var(--sizing-small) 0;
  }

  .navbar__title {
    font-size: var(--font-size-large);
    padding: var(--sizing-medium) 0;
  }
}

@media screen and (max-width: 363px) {
  .navbar {
    padding: var(--sizing-medium) var(--sizing-x-small);
  }

  .navbar__title {
    font-size: 1.5rem;
    padding: var(--sizing-small) 0;
  }
}
